@page "/UserInfoPage"
@attribute [Authorize]

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using BlazorDemoUI.Models
@using Services;

@inject AuthenticationStateProvider authenticationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUserData userdata
@inject NavigationManager navManager


<h2>
    User info
</h2>
<br />
<br />
@if (edit)
{
<p>
    <EditForm Model="@_userCopy" OnValidSubmit="@Save">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <br />
        <InputText id="userName" @bind-Value="_userCopy.UserName" placeholder="UserName" />
        <ValidationMessage For="@(() => _userCopy.UserName)" />
        <br />
        <InputText id="userEmail" @bind-Value="_userCopy.UserEmail" placeholder="Email Adress" />
        <ValidationMessage For="@(() => _userCopy.UserEmail)" />
        <br />
        <button type="submit" class="btn btn-primary">Save</button>

    </EditForm>
</p>
    <button @onclick="@Cancel" class="btn btn-primary">Cancel</button>
    <br />
}
else
{
<p>
    @_user.UserName
    <br />
    @_user.UserEmail

    <br />
    <button class="btn btn-primary" @onclick="@toggleEdit">Edit my data</button>
</p>
}
<br />
<p><button class="btn btn-primary" @onclick="@DeleteUser">Delete User</button></p>
<br />
<p><button class="btn btn-primary" @onclick="@ChangePassword">Change Password</button></p>
@code{

    bool edit;

    private Users _user = new Users();

    private Users _userCopy = new Users();

    string Test = "not tits";

    protected override async Task OnInitializedAsync()
    {
        await login();
    }

    void DeleteUser()
    {
        //todo
        //popup to confirm delete user
        userdata.RemoveUser(_user);
        Utilities.Email.SendMail(_user.UserEmail, "deregistration", Utilities.Email.GenerateDeRegisterMessage(_user.UserName, _user.UserEmail), true);
        //logout
        ((CustomAuthenticationStateProvider)authenticationService).MarkUserAsLoggedOut();
        navManager.NavigateTo("/");
    }

    void ChangeInfo()
    {
        Test = "Super Tits";
    }

    void ChangePassword()
    {
        Test = "Lazer Tits";
    }

    void toggleEdit()
    {
        edit = !edit;
    }

    void Save()
    {
        toggleEdit();
        userdata.UpdateUser_All(_userCopy);
        //save the shit
        //navigate to something?
    }

    void Cancel()
    {
        toggleEdit();
        _userCopy = _user;
    }

    async Task login()
    {
        string email = await sessionStorage.GetItemAsync<string>("emailAddress");
        int id = await userdata.Get_UserID_Email(email);

        var list = await userdata.Get_SingleUser(id);

        _user = list[0];

        if (_user == null)
        {
            //error
        }

        _userCopy = _user;
    }
}