@page "/TestEnviroment"
@attribute [Authorize]

<h3>User Page</h3>

@using DataAccessLibrary.Models;
@using Services;

@inject AuthenticationStateProvider authenticationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<div>
    @if (editing)
    {
        <EditForm Model="@UserInfo" OnValidSubmit="@ValidateUser">
            <div>
                <h3 style="font-weight:bold"> User Info</h3>
            </div>
            <div>
                <br />
            </div>
            <div class="col-12 row">
                <input class="form-control col-12" @bind="UserInfo.UserName" placeholder="Name" />
            </div>
            <br />
            <div class="col-12 row">
                <input class="form-control col-12" @bind="UserInfo.UserEmail" placeholder="Email" />
            </div>
            <br />
            <div class="col-12 row">
                <span class="col-12 "></span>
                <input type="submit" class="form-control col-12 btn btn-primary " value="Change user info" />
            </div>
        </EditForm>
    }
    else
    {
        <table class="table table-hover table-responsive ">
            <thead class="thead-light">
                <tr>
                    <th>User name</th>
                    <td>@UserInfo.UserName</td>
                </tr>
                <tr>
                    <th>User email</th>
                    <td>@UserInfo.UserEmail</td>
                </tr>
                <tr>
                    <th>Is admin</th>
                    <td>@UserInfo.IsAdmin</td>
                </tr>
            </thead>
        </table>
    }
</div>

<div>
    <br />
    <button class="btn btn-secondary" @onclick="toggleEditing"> @if (editing)
    {<span>Dont edit</span> }
    else
    {<span>Edit</span>}</button>
</div>


Test: @test

@code {
    private Users UserInfo = new Users();

    bool editing = false;

    string test;

    void UpdateUserData()
    {

    }

    void ValidateUser()
    {

    }

    void toggleEditing()
    {
        if (editing == true)
        {
            editing = false;
        }
        else
        {
            editing = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var user = await sessionStorage.GetItemAsync<string>("emailAddress");

        //get user from db
        //display revelant info
        test = user;
    }
    //todo
    //make a change password function
    //make a viable user data service
    //data anotations for the user model
}

