@page "/BooksPages/Main/{id:int}"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager


<style>
    .row div {
        border: 0.5px solid;
    }
</style>

<h1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    Book Information
    <button type="submit" name="btnBack" class="btn btn-primary" style="float: right;" @onclick="BackNav">Browse More Books</button>
</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background: lightgrey"> <h6>Title</h6></div>
        <div class="col-sm-6">@_book.BookTitle</div>
    </div>


    <div class="row">
        <div class="col-sm-4" style="background: lightgrey"> <h6>Edition</h6></div>
        <div class="col-sm-6">@_book.BookEdition</div>
    </div>


    <div class="row">
        <div class="col-sm-4" style="background: lightgrey"> <h6>Module Code</h6></div>
        <div class="col-sm-6">@_book.ModuleCode</div>
    </div>


    <div class="row">
        <div class="col-sm-4" style="background: lightgrey"> <h6>Institute</h6></div>
        <div class="col-sm-6">@_book.BooksInstitute</div>
    </div>


    <div class="row">
        <div class="col-sm-4" style="background: lightgrey"> <h6>Price</h6></div>
        <div class="col-sm-6">@_book.BookPrice</div>
    </div>


    <div class="row">
        <div class="col-sm-4" style="background: lightgrey"> <h6>Location</h6></div>
        <div class="col-sm-6">@_book.LocationID</div>
    </div>


    <div class="row">
        <div class="col-sm-4" style="background: lightgrey"> <h6>Book Image</h6></div>
        <div class="col-sm-6">

            "IMAGE HERE"

        </div>
    </div>

</div>


@code {

    [Parameter]
    public int id { get; set; }

    protected Books _book;

    protected override void OnInitialized()
    {
        _book = StaticTestData.GetSingleBook(id);
    }

    void BackNav()
    {
        NavigationManager.NavigateTo("/BooksPages/Main");
    }
}
