@page "/BooksPages/Main/{id:int}"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager


<h1>Book Information</h1>


<h2>Book Title</h2>
<body>
    @_book.BookTitle
</body>
<br />
<h2>Book Edition</h2>
<body>
    @_book.BookEdition
</body>
<br />
<h2>Module Code</h2>
<body>
    @_book.ModuleCode
</body>
<br />
<h2>Institute</h2>
<body>
    @_book.BooksInstitute
</body>
<br />
<h2>Book Price</h2>
<body>
    @_book.BookPrice
</body>
<br />
<h2>Book Location</h2>
<br />
<body>
    @_book.LocationID
</body>
<h2>Book Image</h2>
<body>
    IMAGE HERE
</body>
<br />

@_book.SalesNumber
@_book.BookTitle
@_book.BookEdition
@_book.BookPrice
@_book.ModuleCode
@_book.BooksInstitute

<NavLink href="/BooksPages/Main">Return to Books page</NavLink>

@code {

    [Parameter]
    public int id { get; set; }

    protected Books _book;



    protected override void OnInitialized()
    {
        _book = StaticTestData.GetSingleBook(id);
    }
}
