@page "/BooksPages/Main/{id:int}"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager


<style>
    .row div {
        padding: 10px 10px;
        border: 1px solid;
    }
</style>

<h1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    Book Information
    <button type="submit" name="btnBack" class="btn btn-primary" style="float: right;" @onclick="BackNav">Browse More Books</button>
    <button type="submit" name="btnPurchase" class="btn btn-primary" style="float: right;" @onclick="NavConfirm">Request Book Purchase</button>
</h1>

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background: lightblue"><h4>Title</h4></div>
        <div class="col-sm-6">@_book.BookTitle</div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4" style="background: lightblue"><h4>Edition</h4></div>
        <div class="col-sm-6">@_book.BookEdition</div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4" style="background: lightblue"><h4>Module Code</h4></div>
        <div class="col-sm-6">@_book.ModuleCode</div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4" style="background: lightblue"><h4>Institute</h4></div>
        <div class="col-sm-6">@_book.BooksInstitute</div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4" style="background: lightblue"><h4>Price</h4></div>
        <div class="col-sm-6">@_book.BookPrice</div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4" style="background: lightblue"><h4>Location</h4></div>
        <div class="col-sm-6">@_book.LocationID</div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4" style="background: lightblue"><h4>Book Image</h4></div>
        <div class="col-sm-6">

            "IMAGE HERE"

        </div>
    </div>

</div>


@code {

    [Parameter]
    public int id { get; set; }

    protected Books _book;

    protected override void OnInitialized()
    {
        _book = StaticTestData.GetSingleBook(id);
    }

    void BackNav()
    {
        NavigationManager.NavigateTo("/BooksPages/Main");

        
    }

    void NavConfirm()
    {
        NavigationManager.NavigateTo("/BooksPages/Main/{ id: int}/RequestPurchase");
    }
}
