@page "/BooksPages/Main/{id:int}"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager


<h1>Book Information</h1>

@_book.SalesNumber
@_book.BookTitle
@_book.BookEdition
@_book.BookPrice
@_book.ModuleCode
@_book.BooksInstitute

<NavLink href="/BooksPages/Main">Return to Books page</NavLink>

@code {

    [Parameter]
    public int id { get; set; }

    protected Books _book;



        protected override void OnInitialized()
        {
            _book = StaticTestData.GetSingleBook(id);
        }
}
