@page "/BooksPages/Main"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary
@using BlazorDemoUI.Models

@inject NavigationManager NavigationManager
@inject IBookData _db

@*##########################################################################################################
    Code to display the button to add new books
    ##########################################################################################################*@

<h1>
    Available Book Sales
    <button type="submit" name="btnAddNew" class="btn btn-primary" style="float: right;" @onclick="AddNav">Add New Book</button>
</h1>

@*##########################################################################################################
        Code for the Search TextBox and Sorting CheckBox
    ##########################################################################################################*@

<h5>
    Filter Search:
    <input type="text" name="txtFilter" placeholder="Enter text to filter" @bind-value="@FilterVal" />
    <button type="submit" name="btnSearch" class="btn btn-primary" @onclick="@SearchBooks">Search Book</button>

    <p style="float: right;"><input type="checkbox" id="orderCheck" @onchange="@SetAsc" /> Check the box to sort the data according to price</p>
</h5>

@*##########################################################################################################
        Code to display the table with the books +++++STARTS++++++
    ##########################################################################################################*@

@if (booksList is null)
{
    <p><en>Loading...</en></p>

}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Book Title</td>
                <td>Book Edition</td>
                <td>Book Price</td>
                <td>Module Code</td>
                <td>Book Institute</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in booksList)
            {
                <tr>
                    <td><NavLink href=@string.Format("/BooksPages/Main/{0}",item.SalesNumber)>@item.BookTitle</NavLink></td>
                    <td>@item.BookEdition</td>
                    <td>@item.BookPrice</td>
                    <td>@item.ModuleCode</td>
                    <td>@item.BookInstitute</td>
                </tr>
            }
        </tbody>
    </table>
}

@*##########################################################################################################
        Code to display the table with the books +++++ENDS++++++
    ##########################################################################################################*@

@code {

    List<Books> booksList;
    List<Books> OGlist;

    private DisplayBookModel showBooks = new DisplayBookModel();

    private string checkChange = "Not checked";
    [Parameter] public bool isChecked { get; set; } = true;

    string FilterVal { get; set; } = "";
    string orderBy;

    protected override async Task OnInitializedAsync()
    {
        OGlist = await _db.Get_Books();
        booksList = OGlist;

    }

    //##########################################################################################################
    //Code to search books
    //##########################################################################################################

    private async Task SearchBooks()
    {
        try
        {
            if (FilterVal == null || FilterVal.Length == 0)
            {

                booksList = await _db.Get_Books();
                //this.StateHasChanged();
            }
            else
            {
                booksList = await _db.Search_MultiChar(FilterVal);
                //this.StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            string stest = ex.ToString();
        }
    }

    //##########################################################################################################
    //Code to set data to asc/desc
    //##########################################################################################################

    private async Task SetAsc()
    {
        try
        {
            if (isChecked)
            {
                booksList = await _db.OrderPrice("ASC");
                isChecked = !isChecked;
            }
            else
            {
                booksList = await _db.OrderPrice("DESC");
                isChecked = !isChecked;
            }

        }
        catch (Exception ex)
        {
            string stest = ex.ToString();
        }
    }

    //##########################################################################################################
    //Code to navigate to the addBooksPage
    //##########################################################################################################

    void AddNav()
    {
        NavigationManager.NavigateTo("/BooksPages/Main/AddBooks");
    }

}
