@page "/BooksPages/Main/{id:int}"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager


<h1>
    Book Information
    <button type="submit" name="btnBack" class="btn btn-primary" style="float: right;" @onclick="BackNav">Browse More Books</button>
</h1>


<h4>Book Title</h4>
<body>
    @_book.BookTitle
</body>
<br />
<h4>Book Edition</h4>
<body>
    @_book.BookEdition
</body>
<br />
<h4>Module Code</h4>
<body>
    @_book.ModuleCode
</body>
<br />
<h4>Institute</h4>
<body>
    @_book.BooksInstitute
</body>
<br />
<h4>Book Price</h4>
<body>
    @_book.BookPrice
</body>
<br />
<h4>Book Location</h4>
<body>
    @_book.LocationID
</body>
<br />
<h4>Book Image</h4>
<body>
    IMAGE HERE
</body>
<br />

@code {

    [Parameter]
    public int id { get; set; }

    protected Books _book;

    protected override void OnInitialized()
    {
        _book = StaticTestData.GetSingleBook(id);
    }

    void BackNav()
    {
        NavigationManager.NavigateTo("/BooksPages/Main");
    }
}
