@page "/BooksPages/Main/AddBooks/Locations"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Bussiness_Logic.BooksLogic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@using BlazorDemoUI.Models

@inject ILocationData _db
@inject NavigationManager NavigationManager
@inject IBooksCreateService booksAdd


<h3>Reccomended Locations for book Transaction</h3>
<br />
<h5>Select Any of the below reccomeneded locations or enter your own.</h5>


@*##########################################################################################################
    Code to display locations in combox ++++++START+++++++ and to get location ID
    ##########################################################################################################*@

<EditForm Model="@locationModel" OnInvalidSubmit="@InsertLocation">
    <DataAnnotationsValidator />

    <fieldset disabled=@isTrueTxt>
        @if (locationList is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {

            <div class="row">
                <div class="col-md-4">
                    <label for="Locations" class="control-label">Select a Location:</label>
                </div>
            </div>
            <div class="row" style="padding-top:1px">
                <div class="col-md-4">
                    <select id="selectBox" @bind="@selectedLocation">

                        <option value="">-- Select Location --</option>

                        @foreach (var item in locationList)
                        {
                            <option value="@item.LocationID"> @item.Address, @item.City, @item.Province, @item.Building </option>
                        }

                    </select>
                </div>
            </div>
            <div class="row" style="padding-top:5px">
                <div class="col-md-4">
                    <label class="control-label"> Selected Location Name: @selectedLocation</label>
                </div>
            </div>
        }

        <button type="reset" id="btnOwn" class="btn btn-primary" @onclick="@disableControls" style="float: left;">Enter Own</button>
    </fieldset>

    @*##########################################################################################################
        Code to display controls to enter own location (FIELDSET IS USED TO DISABLE CONTROLS IF COMBOBOX IS USED)
        ##########################################################################################################*@

    <fieldset disabled=@isTrueCombo>
        <div class="col-12 row">
            <label for="txtProvince" class="col-2 font-weight-bold">Province: </label>
            <InputText id="txtProvince" class="form-control col-3" @bind-Value="@locationModel.Province" placeholder="province" />
            &nbsp;<ValidationMessage For="@(() => locationModel.Province)" />
        </div>
        <br />
        <div class="col-12 row">
            <label for="txtPhysAdr" class="col-2 font-weight-bold">Physical Address: </label>
            <InputText id="txtPhysAdr" class="form-control col-3" @bind-Value="@locationModel.Address" placeholder="physical address" />
            &nbsp;<ValidationMessage For="@(() => locationModel.Address)" />
        </div>
        <br />
        <div class="col-12 row">
            <label for="txtCity" class="col-2 font-weight-bold">City:</label>
            <InputText id="txtCity" class="form-control col-3" @bind-Value="@locationModel.City" placeholder="city" />
            &nbsp;<ValidationMessage For="@(() => locationModel.City)" />
        </div>
        <br />
        <div class="col-12 row">
            <label for="txtBuilding" class="col-2 font-weight-bold">Building:</label>
            <InputText id="txtBuilding" class="form-control col-3" @bind-Value="@locationModel.Building" placeholder="building" />
            &nbsp;<ValidationMessage For="@(() => locationModel.Building)" />
        </div>
        <br />
    </fieldset>

    <button type="submit" name="btnNext" class="btn btn-primary" style="float: left;">Submit</button>

</EditForm>


@*##########################################################################################################
    Start of c# code
    ##########################################################################################################*@

@code {

    Locations locationModel = new Locations();

    public int selectedLocation { get; set; }

    List<Locations> OGlist;
    List<Locations> locationList;

    bool isTrueCombo { get; set; } = true;
    bool isTrueTxt { get; set; } = false;

    int id = 1;

    protected override async Task OnInitializedAsync()
    {
        OGlist = await _db.Get_AllLocations();
        locationList = OGlist;

    }

    //##########################################################################################################
    //Code to add own location
    //##########################################################################################################

    private async Task InsertLocation()
    {
        try
        {
            if (isTrueCombo == true)
            {
                booksAdd.AddBookLocation(selectedLocation);
                NavigationManager.NavigateTo("/BooksPages/Main/SaleConfirm");
            }
            else
            {
                Locations loc = new Locations
                {
                    Province = locationModel.Province,
                    Address = locationModel.Address,
                    City = locationModel.City,
                    Building = locationModel.Building

                };

                await _db.InsertLocation(loc);

                selectedLocation = await _db.Get_LocationID_Address(locationModel.Address, locationModel.City);

                booksAdd.AddBookLocation(selectedLocation);
                NavigationManager.NavigateTo("/BooksPages/Main/SaleConfirm");
            }

        }
        catch (Exception ex)
        {
            string stest = ex.ToString();
        }

    }

    //##########################################################################################################
    //Code to disable controls to enter own adress when one has been chosen
    //##########################################################################################################

    public void disableControls()
    {
        isTrueCombo = false;
        isTrueTxt = true;
    }

}
