@page "/BooksPages/Main/AddBooks/Locations"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary
@using BlazorDemoUI.Models

@inject ILocationData _db
@inject NavigationManager NavigationManager


<h3>Reccomended Locations for book Transaction</h3>
<br />
<h5>Select Any of the below reccomeneded locations or enter your own.</h5>


@*##########################################################################################################
    Code to display locations in combox ++++++START+++++++
    ##########################################################################################################*@

@if (locationList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <label for="Locations" class="control-label">Select a Location:</label>
        </div>
    </div>
    <div class="row" style="padding-top:1px">
        <div class="col-md-4">
            <select id="selectBox" @bind="selectedLocation">
                <option value="">-- Select Location --</option>

                @foreach (var item in locationList)
                {
                    <option value="@item.Province, @item.Address, @item.City, @item.Building">
                        @item.Province.ToString(), @item.Address.ToString(), @item.City.ToString(), @item.Building.ToString()
                    </option>
                }

            </select>
        </div>
    </div>
    <div class="row" style="padding-top:50px">
        <div class="col-md-4">
            <label class="control-label"> Location Name: @selectedLocation</label>
        </div>
    </div>
}

@*##########################################################################################################
    Code to display locations in combox ++++++END+++++++
    ##########################################################################################################*@



@*##########################################################################################################
    Code to display controls to enter own location
    ##########################################################################################################*@
<div>
    Desired Transaction Location:
    <input type="text" id="txtLocation" placeholder="Enter location here" style="" />
    <br />
    <button type="submit" id="btnNext" class="btn btn-primary" @onclick="NextNav" style="float: left;">Submit</button>
</div>

@code {

    public string selectedLocation { get; set; }

    private DisplayBookModel showBooks = new DisplayBookModel();

    List<Locations> locationList;
    List<Locations> OGlist;

    string title { get; set; }
    int edition { get; set; }
    double price { get; set; }
    string modCode { get; set; }
    string institute { get; set; }

    protected override async Task OnInitializedAsync()
    {
        OGlist = await _db.Get_AllLocations();
        locationList = OGlist;
    }

    protected async void bookClicked(ChangeEventArgs locatEvent)
    {
        //location = locatEvent.Value.ToString();
        this.StateHasChanged();
    }

    void NextNav()
    {
        NavigationManager.NavigateTo("/BooksPages/Main/SaleConfirm");

    }

}
