@page "/BooksPages/Main/AddBooks/Locations"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Bussiness_Logic.BooksLogic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@using BlazorDemoUI.Models

@inject ILocationData _db
@inject NavigationManager NavigationManager
@inject IBooksCreateService booksAdd


<h3>Reccomended Locations for book Transaction</h3>
<br />
<h5>Select Any of the below reccomeneded locations or enter your own.</h5>


@*##########################################################################################################
    Code to display locations in combox ++++++START+++++++ and to get location ID
    ##########################################################################################################*@

@if (locationList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <label for="Locations" class="control-label">Select a Location:</label>
        </div>
    </div>
    <div class="row" style="padding-top:1px">
        <div class="col-md-4">
            <select id="selectBox" @bind="selectedLocation">
                <option value="">-- Select Location --</option>

                @foreach (var item in locationList)
                {
                    <option value="@item.LocationID">
                        @item.Province.ToString(), @item.Address.ToString(),
                        @item.City.ToString(), @item.Building.ToString()
                    </option>
                }
            </select>
        </div>
    </div>
    <div class="row" style="padding-top:5px">
        <div class="col-md-4">
            <label class="control-label"> Selected Location Name: @selectedLocation</label>
        </div>
    </div>
}

@*##########################################################################################################
    Code to display locations in combox ++++++END+++++++ and to get location ID
    ##########################################################################################################*@



@*##########################################################################################################
    Code to display controls to enter own location
    ##########################################################################################################*@

<div class="row" style="padding-top:50px">
    <h6>Desired Transaction Location:</h6>
    <input type="text" id="txtLocation" placeholder="Enter location here" style="" />
    <br />
    <button type="submit" id="btnNext" class="btn btn-primary" @onclick="NextNav" style="float: left;">Submit</button>
</div>


@code {

    public int selectedLocation { get; set; }

    List<Locations> locationList;
    List<Locations> OGlist;

    int id = 1;

    protected override async Task OnInitializedAsync()
    {
        OGlist = await _db.Get_AllLocations();
        locationList = OGlist;

        //booksAdd.book.

    }

    //protected async void bookClicked(ChangeEventArgs locatEvent)
    //{
    //    location = locatEvent.Value.ToString();
    //    this.StateHasChanged();
    //}

    void NextNav()
    {
        booksAdd.AddBookLocation(selectedLocation);
        NavigationManager.NavigateTo("/BooksPages/Main/SaleConfirm");

    }

}
